target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### Gradle ###
.gradle/
.gradle-home/

### Built Jars ###
/distribution/client/mods/*.jar
/distribution/server/mods/*.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Minecraft Run ###
run/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
